.test-content {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  position: relative;
  font-family: Inter;
  font-weight: 100;
  font-style: normal;
}

.test-content::before {
  content: '';
  height: 3px;
  width: 0%;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: 100%;
  transition: width ease-in 250ms;
}

.test-content:hover::before {
  content: '';
  height: 3px;
  width: 100%;
  left: 0;
  background-color: red;
}

.test-content::after {
  content: '';
  height: 3px;
  width: 0%;
  background-color: red;
  position: absolute;
  right: 0;
  top: 100%;
  transition: width ease-in 250ms;
}

.test-content:hover::after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: red;
  right: 0;
}
